.categoryRoot {
  display: flex;
  flex-direction: column;
}

.categoryName {
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.productsGrid {
  display: grid;
  gap: 0.4em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
